$darkcyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$verydarkblue: hsl(212, 21%, 14%);
$darkgrayishblue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

$font-family1: "Montserrat", sans-serif;
$font-family2: "Fraunces", serif;
